# SPDX-FileCopyrightText: Copyright (C) 2025 Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Docker CI VM Loop for triton-xdna
After=network.target

[Service]
Type=Simple
User=ci
WorkingDirectory=/home/ci/triton-xdna/ci/docker-based
ExecStart=/home/ci/triton-xdna/ci/docker-based/loop_docker_ci.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
