[submodule "third_party/triton"]
	path = third_party/triton
	url = https://github.com/triton-lang/triton.git
[submodule "third_party/triton_shared"]
	path = third_party/triton_shared
	url = https://github.com/microsoft/triton-shared.git
