# SPDX-FileCopyrightText: Copyright (C) 2025 Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: Small Benchmark/Test Suite

on:
 push:
  branches:
   - main
 pull_request:
 workflow_dispatch:

# VJUNG: Introduce concurrency groups named with branch refs.
# VJUNG: If one pushes 5 times on its branch only the most recent commit will trigger CI.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Test:
    runs-on: [self-hosted, docker]
    steps:
      - name: Pull
        uses: actions/checkout@v3
        env:
          HOME: /workspace
        with:
          fetch-depth: 2
          submodules: recursive
          token: ${{ secrets.RUNNER_PAT }}

      - name: Build
        uses: ./.github/actions/build
        with:
          env_name: ci_env

      - name: Test
        id: test
        continue-on-error: true
        uses: ./.github/actions/test
        with:
          env_name: ci_env

      - name: Mark workflow as failed if tests failed
        if: steps.test.outcome == 'failure'
        run: exit 1